@font-face {
  font-family: "bold";
  src: url("../assets/font/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "medium";
  src: url("../assets/font/Pretendard-Medium.woff") format("woff");
}

.bold64 {
  font-family: "bold";
  font-size: 6.4rem;
}

.bold32 {
  font-family: "bold";
  font-size: 3.2rem;
}

.medium18 {
  font-family: "medium";
  font-size: 1.8rem;
}

.medium12 {
  font-family: "medium";
  font-size: 1.2rem;
}
