@font-face {
  font-family: "Pretendard Variable";
  src: url("../assets/font/PretendardVariable.woff2") format("woff2");
}

.bold64 {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 6.4rem;
}

.bold32 {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 3.2rem;
}

.medium18 {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.8rem;
}

.medium12 {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.2rem;
}
